<div class="container">
  <div class="row">
    <div class="col-md-8 offset-md-1">
      <h2>検索結果</h2>
      <%= form_tag search_users_path, method: :get do %>
        <%= text_field_tag :search_keyword %>
        <%= submit_tag "検索", username: :nil, class: "button is-info" %>
      <% end %>
      <table class="table">
        <thead>
          <tr>
            <th>image</th>
            <th>name</th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @users.each do |user| %>
           <tr>
             <td>
               <a><%= attachment_image_tag user, :profile_image,  fallback: "no_image.png", class:"mt-3 rounded-circle", size: "40x40" %></a>
             </td>
             <td>
                 <%= user.name %>
             </td>
             <td>
                <%= link_to user_followings_path(user) do %>
                  フォロー<%= user.followings.count %>
                <% end %>
             <td/>
             <td>
               <%= link_to user_followers_path(user) do %>
                 フォロワー<%= user.followers.count %>
               <% end %>
             </td>
             <td>
               <% if user_signed_in? %>
                 <% if user != current_user %>
                    <% if current_user.following?(user) %>
                      <%= link_to 'フォロー外す', user_follows_path(user.id), method: :delete %>
                    <% else %>
                      <%= link_to 'フォローする', user_follows_path(user.id), method: :post %>
                    <% end %>
                 <% end %>
               <% end %>
             </td>
             <td>
               <%= link_to "このユーザーのページへ", user_path(user) %>
             </td>
           </tr>
         <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>