<div class = "container">
  <div class = "row">
    <div class="col-5 text-right">
      <p class="movie_show"><%= image_tag 'https://image.tmdb.org/t/p/w1280' + @movie['poster_path'],class: "movie-img" %></p>
    </div>
    <div class="col-6">
      <h2><%=@movie['title'] %></h2>
      <p>(<%=@movie['release_date']%>)</p>
      <div class="row">
        <div class="col">
          <h4>概要</h4>
        </div>
        <% if user_signed_in? %>
          <div class="col">
            <% if !Favorite.exists?(user: current_user, api_id: @movie['id']) %>
              <%= link_to 'お気に入り登録', movie_favorites_path(@movie['id']), method: :post,  class: "btn btn-sm btn-success" %>
            <% else %>
              <%= link_to 'お気に入り解除', movie_favorites_path(@movie['id']), method: :delete,  class: "btn btn-sm btn-danger" %>
            <% end %>
          </div>
        <% end %>
      </div>
      <p><%=@movie['overview'] %></p>
      <h4>ジャンル</h4>
      <div class="d-flex flex-row">
        <% @movie[:genres].each do |genre| %>
         <p class="genre_name">・<%= genre['name']%></p>
        <% end %>
      </div>
      <h4>監督</h4>
      <div class="d-flex flex-row">
        <% @director.each do |director| %>
          <p>・<%= director['name'] %></p>
        <% end %>
      </div>
      <h4>主な出演者</h4>
      <div>
        <% @cast.each_with_index do |cast, i|%>
          <% if i == 5 %>
            <% break %>
          <% end %>
          <p>・<%= cast['name'] %></p>
        <%end %>
      </div>
    </div>
  </div>
  <% if user_signed_in? %>
    <div>
      <% if @movie_review.errors.any? %>
        <%= @movie_review.errors.count %>件のエラーが発生しました
        <% @movie_review.errors.full_messages.each do |message| %>
          <%= message %>
        <% end %>
      <% end %>
      <%= form_with(model: [@movie, @movie_review], url: movie_movie_reviews_path(@movie['id']), method: :post, local: true, id: 'review-form') do |f| %>
        <%= f.hidden_field :api_id, :value => @movie['id'] %>
        <%= f.text_area :review, rows:'5', placeholder: "映画の感想", class: "form-control form-control-sm" %>
        <div id="rating-form">
            <label>評価：</label>
            <%# scoreNameの値をhidden_fieldでカラムに送っている %>
            <%= f.hidden_field :rate, :value => 'score' %>
        </div>
        <%= f.submit "投稿する" %>
      <% end %>
      <script>
        $('#rating-form').raty({
          starOn: "<%= asset_path('star-on.png') %>",
          starOff: "<%= asset_path('star-off.png') %>",
          scoreName: 'product_comment[rate]'
        });
        $('#review-form').on('submit', function(){
          var score = $('[name="product_comment[rate]"]').val();
          if( score.length === 0 ){
            alert('評価をしてください');
            return false;
          }
        });
      </script>
    </div>
  <% end %>
  <div>
    <div>
     <% MovieReview.where(:api_id => @movie.id).each do |movie_review| %>
        <div class="pt-2 px-2" style="background-color: #fffffe; border: 2px solid #272343; border-radius: 2px;">
         <%# rateを表示 %>
         <div class="review-rating" data-score="<%= movie_review.rate %>">評価：</div>
          <div class="text-left">
            <p>
              <%= attachment_image_tag movie_review.user, :profile_image,  fallback: "no_image.png", class:"mt-3 rounded-circle", size: "40x40" %>
              <%= link_to  user_path(movie_review.user) do %>
               <%= movie_review.user.name %>
              <% end %>
            </p>
            <p><%= movie_review.review %></p>
          </div>
          <div class="text-right">
            <p>
              投稿日：<%= movie_review.created_at.strftime('%Y/%m/%d') %> |
              <% if movie_review.user == current_user %>
                <%= link_to "/movies/#{movie_review.api_id}/movie_reviews/#{movie_review.id}", method: :delete, class: "btn btn-sm btn-danger" do %>
                  コメント削除 <i class="fas fa-trash"></i>
                <% end %>
              <% end %>
            </p>
          </div>
       </div>
     <% end %>
     <script>
       $('.review-rating').raty({
         starOn: "<%= asset_path('star-on.png') %>",
         starOff: "<%= asset_path('star-off.png') %>",
         readOnly: true,
       });
     </script>
   </div>
  </div>
</div>



