<div class="container">
 <div class="row text-center">
　<h1 class="px-3 mx-auto">
    Audiencesへようこそ<br>
    皆様の映画への感想を自由に書いてください
　</h1>
 </div>
 <div class="row">
    <h2 class="px-3 mx-auto"><%= movie_title(@type) %></h2>
 </div>

<div class="movie-table">
<%= form_tag('/', method: :get) do %>
　<%= hidden_field_tag 'movie[type]', 'popular' %>
　<%= submit_tag '本日の世界のトレンド', class: 'tab-button' %>
<% end %>

<%= form_tag('/', method: :get) do %>
　<%= hidden_field_tag 'movie[type]', 'top_rated' %>
　<%= submit_tag '評価の高い映画', class: 'tab-button' %>
<% end %>

<%= form_tag('/', method: :get) do %>
　<%= hidden_field_tag 'movie[type]', 'now_playing' %>
　<%= submit_tag '上映中の映画', class: 'tab-button' %>
<% end %>
</div>

 <%= render partial: "movies", locals: {movie: @movies } %>

 </div>